@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  background: #1f242d;
  color: #fff;
}
.header {
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: sliderRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: sliderBottom 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  &:hover {
    color: #0ef;
  }
  &.active {
    color: #0ef;
  }
}
.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
  margin: 120px 0 60px;
}
.home-content {
  max-width: 600px;
  h3 {
    font-size: 32px;
    font-weight: 700;
    animation: sliderTop 1s ease forwards;
    animation-delay: 0.7;
    &:nth-of-type(2) {
      margin-bottom: 30px;
      animation: sliderBottom 1s ease forwards;
      animation-delay: 0.7;
    }
    span {
      color: #0ef;
    }
  }
  h1 {
    font-size: 60px;
    font-weight: 700;
    margin: -3px 0;
    animation: sliderRight 1s ease forwards;
    animation-delay: 0.7;
  }
  p {
    font-size: 18px;
    animation: sliderLeft 1s ease forwards;
    animation-delay: 0.7;
  }
}
.home-img img {
  max-width: 500px;
  margin-right: -20px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}
.social-media a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: sliderLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  i {
    font-size: 40px;
  }

  &:hover {
    background: #0ef;
    color: #1f242d;
  }
}
.btn {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  box-shadow: 0 0 10px #0ef;
  font-size: 16px;
  color: #1f242d;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: sliderTop 1s ease forwards;
  animation-delay: 2s;
}
#skills {
  text-align: center;
  padding: 120px 0;
  h2 {
    font-size: 50px;
    margin-bottom: 60px;
  }
  ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    width: 80%;
    justify-content: space-between;
    li {
      width: 30%;
      margin-right: 20px;
      padding: 20px 10px;
      border: #fff 1px solid;

      img {
        width: 30%;
        margin-bottom: 20px;
        border-radius: 50%;
      }
      h3 {
        font-size: 38px;
        margin-bottom: 25px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
footer {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  background: #000;
  align-items: center;
}
#contact {
  align-items: center;
  text-align: center;
  padding: 60px 0;
  h2 {
    font-size: 60px;
  }
  ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      display: inline-flex;
      width: 100px;
      height: 100px;
      background: transparent;
      border: 2px solid #0ef;
      border-radius: 50%;
      font-size: 20px;
      color: #0ef;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      margin: 30px 15px 30px 0;
      transition: 0.5s ease;
      opacity: 0;
      animation: sliderLeft 1s ease forwards;
      animation-delay: calc(0.2s * var(--i));
      a {
        width: 100%;
      }
      i {
        color: #0ef;
        width: 90%;
        font-size: 40px;
      }

      &:hover {
        background: #0ef;
        color: #1f242d;
        i {
          color: #1f242d;
        }
      }
    }
  }
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.skill {
  &:nth-child(2) {
    transition-delay: 200ms;
  }
  &:nth-child(3) {
    transition-delay: 400ms;
  }
}
@keyframes sliderRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sliderTop {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sliderBottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sliderLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}
@media all and (max-width: 1920px) {
  .home-img img {
    width: 650px;
  }
}
@media all and (max-width: 1240px) {
  .home {
    padding: 0 10% 0;
  }
  .home-img img {
    max-width: 400px;
  }
  .home-content h3 {
    font-size: 24px;
  }
  .home-content h1 {
    font-size: 40px;
  }
  #skills ul li h3 {
    font-size: 24px;
  }
  #skills ul li p {
    font-size: 16px;
  }
}
@media all and (max-width: 960px) {
  .home-content h3 {
    font-size: 20px;
  }
  .home-content h1 {
    font-size: 25px;
  }
  .home-img img {
    max-width: 320px;
  }
  .home-content p {
    font-size: 14px;
  }
  #skills ul {
    flex-wrap: wrap;
  }
  #skills ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  #skills ul li h3 {
    font-size: 30px;
  }
}
@media all and (max-width: 768px) {
  .header {
    justify-content: center;
  }
  .navbar {
    display: none;
  }
  .logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  footer {
    .logo {
      width: 50%;
    }
    .navbar a {
      display: none;
    }
  }
}
@media all and (max-width: 540px) {
  .home {
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 60px;
  }
  .home-content {
    text-align: center;
    width: 100%;
  }
  .btn {
    margin-bottom: 20px;
  }
  #contact ul {
    font-size: 30px;
  }
  #contact h2 {
    font-size: 40px;
  }
  #contact ul li i {
    font-size: 40px;
  }
  #contact ul {
    flex-wrap: wrap;
  }
  #contact ul li {
    width: 30%;
  }
}
